body, html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: sans-serif;
}

body>nav {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	gap: 1rem;
	font-weight: bold;
}

body>nav>img {
	width: 2.5%;
}

body>nav>span {
	padding: 0.75rem;
}

body>nav>span:nth-of-type(1) {
	color: white;
	border-radius: 15px;
	background-color: black;
}

body>nav>span>span {
	color: red;
}

body>nav>span:nth-of-type(4) {
	width: 50%;
	padding-left: 1rem;
	color: grey;
	border-radius: 15px;
	background-color: lightgrey;
} 

body>div {
	width: 80%;
	margin: auto;
}

body>div>div {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	max-width: 100%;
	gap: 0.25rem;
}

body>div>div>img {
	width: 90%;
	border-radius: 5%;
}
