body, html {
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

body>div {
    position: relative;
    width: 100%;
    height: auto;
}

body>div:first-child>div {
    width: 50%;
    height: auto;
    padding: 2rem;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

table {
    width: 100%;
    margin: auto;
}

tr:nth-of-type(2), tr:nth-of-type(3) {
    background-color: lightgreen;
}

tr:nth-of-type(4) {
    background-color: red;
}

#re-true {
    background-color: lightgreen;
}

#tr-false {
    background-color: red;
}

th {
    padding: 0.5rem;
    color: white;
    background-color: black;
}

td {
    text-align: center;
    padding: 0.25rem;
    border: 1px solid black;
}

body>div:first-child>div>div {
    display: grid;
    grid-template-columns: 25% 35%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    gap: 0.25rem;
}

label {
    font-weight: bold;
    font-style: italic;
}

body>div:nth-child(2) {
    width: auto;
    position: absolute;
    padding: 0.1rem;
    left: 75rem;
    top: 17.5rem;
    font-size: 20pt;
    transform: rotate(10deg);
    color: red;
    font-weight: bold;
    border: 1px solid red;
}

body>div:nth-child(2)>div {
    padding: 1rem;
    border: 1px solid red;
}