* {
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}

body>div {
    position: relative;
    width: 100%;
    height: 100%;
}

body>div>div:nth-of-type(1) {
    text-align: center;
    padding: 110px 0px 110px 0px;
    color: white;
    background-image: url("http://diiorio.nws.cs.unibo.it/twe/07.06.2022a/shows_events_bg.jpg");
}

body>div>div:nth-of-type(2) {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

@media (min-width: 992px) {
    body>div>div:nth-of-type(2)>div {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        background-color: white;
    }    

    body>div>div:nth-of-type(2)>div>div {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: auto;
        padding: 1rem;
        font-size: 14pt;
    }
    
    body>div>div:nth-of-type(2)>div>div>a {
        width: 60%;
        padding: 0.5rem;
        margin: auto;
        text-decoration: none !important;
        font-size: 12pt;
        color: white;
        background-color: black;
    }
}

body>div>div:nth-of-type(2)>div>div>span>a {
    text-decoration: none !important;
    color: black;
}

@media (max-width: 992px) {
    body>div>div:nth-of-type(2)>div {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-top: 1rem;
        background-color: white;
    }    

    body>div>div:nth-of-type(2)>div>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 1rem;
        margin: auto;
        font-size: 14pt;
    }

    body>div>div:nth-of-type(2)>div>div>span {
        width: 100%;
        margin: 0.25rem;
    }

    body>div>div:nth-of-type(2)>div>div>a {
        width: 30%;
        padding: 0.5rem;
        margin: auto;
        text-decoration: none !important;
        font-size: 12pt;
        color: white;
        background-color: black;
    }
}

button:hover {
    cursor: pointer;
}