body {
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body>div {
	width: 50%;
	margin: auto;
}

body>div>div:nth-of-type(1) {
	width: 100%;
}

body>div>div:nth-of-type(1)>div {
	display: inline-block;
	text-align: center;
	width: 45%;
	padding: 1rem;
	border-radius: 15px;
	border: 2px solid lightgrey;
}

body>div>div:nth-of-type(1)>div:hover {
	background-color: #FFDDAA;
}

body>div>div:nth-of-type(1)>div>img {
	width: 25%;
}

body>div>div:nth-of-type(1)>div>p {
	text-align: right;	
	padding: 0.25rem;
	border-radius: 10px;
	background-color: lightgrey;
}

body>div>div:nth-of-type(2) {
	text-align: center;
	width: 100%;
}

body>div>div:nth-of-type(2)>div {
	margin-bottom: 2rem;
}

body>div>div:nth-of-type(2)>div>textarea {
	width: 50%;
	height: 125px;
}