body {
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

h1 {
	color: green;
}

body>div {
	display: flex;
	flex-direction: row;
	width: 75%;
	padding: 1rem;
	margin: auto;
	gap: 5rem;
	background-color: lightblue;
}

body>div>div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	width: 65%;
}

body>div>div:nth-of-type(1)>p {
	color: grey;
}

body>div>div:nth-of-type(1)>p>a {
	color: fuchsia;
}

body>div>div:nth-of-type(1)>p>a:hover {
	background-color: yellow;
}

table>thead>tr {
	background-color: black;
}

table>thead>tr>th {
	text-align: left;
	padding: 0.5rem;
	color: white;
}

table>tbody>tr>td {
	padding: 0.5rem;
	border-bottom: 2px solid white;
}

body>div>div:nth-of-type(1)>div {
	display: grid;
	grid-template-columns: 25% 50%;
	justify-content: space-between;
	width: 75%;
	gap: 1rem;
}

body>div>div:nth-of-type(1)>div>textarea {
	height: 125px;
}

body>div>div:nth-of-type(1)>div>select {
	border: none !important;
	background-color: white;
}

body>div>div:nth-of-type(1)>div:nth-of-type(2) {
	position: relative;
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
}

body>div>div:nth-of-type(1)>div:nth-of-type(2)>button {
	position: absolute;
	width: 15%;
	padding: 0.5rem;
	right: 0;
	bottom: 0;
	border: none !important;
	color: white;
	background-color: green;
}

body>div>div:nth-of-type(2) {
	width: 25%;
}

body>div>div:nth-of-type(2)>p {
	display: flex;
	flex-direction: column;
}

body>div>div:nth-of-type(2)>p>span:nth-of-type(1) {
	font-weight: bold;
	color: green;
}

body>div>div:nth-of-type(2)>p>span:nth-of-type(2) {
	margin-bottom: 1rem;
	font-weight: bold;
	font-style: italic;
}

body>div>div:nth-of-type(2)>p>span:nth-of-type(3) {
	color: grey;
}

body>div>div:nth-of-type(2)>p>a {
	width: fit-content;
	color: fuchsia;
}

body>div>div:nth-of-type(2)>p>a:hover {
	background-color: yellow;
}

body>div>div:nth-of-type(2)>p>img {
	width: 75%;
	height: 100px;
	border: 2px solid lightgrey;
}