body {
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

body>div {
	width: 100%;
	margin: 1rem;
}

body>div>nav {
	display: flex;
	width: 80%;
}

body>div>nav>span {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	font-weight: bold;
	border-bottom: 3px solid lightgrey;
}

body>div>nav>span:hover {
	border-bottom: 3px solid blue;
}

body>div>div {
	display: grid;
	grid-template-columns: 10% 65% 25%;
}

body>div>div>div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

body>div>div>div:nth-of-type(1)>span>img {
	width: 100%;
}

body>div>div>div:nth-of-type(1)>span:hover {
	border: 2px solid black;
}

body>div>div>div:nth-of-type(1)>span>img:hover {
	filter: brightness(0.75);	
}

body>div>div>div:nth-of-type(2) {
	width: 100%;
	text-align: center;
}

body>div>div>div:nth-of-type(2)>img {
	width: 75%;
}

body>div>div>div:nth-of-type(3)>p {
	display: flex;
	flex-direction: column;
	width: 75%;
	gap: 0.75rem;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(1) {
	font-size: 14pt;
	font-weight: bold;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(2) {
	font-weight: bold;
	color: orange;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(3) {
	display: flex;
	font-weight: bold;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(3)>span {
	font-size: 18pt;
}