body {
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body>div {
	width: 100%;
}

body>div>nav {
	display: flex;
	width: 80%;
	padding: 2rem;
}

body>div>nav>span {
	padding: 0.5rem 1rem 0.5rem 1rem;
	font-weight: bold;
	border-bottom: 2px solid lightgrey;
}

body>div>nav>span:hover {
	border-bottom: 2px solid blue;
}

body>div>div {
	display: flex;
	width: 100%;
}

body>div>div>div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	width: 15%;
}

body>div>div>div:nth-of-type(1)>span {
	width: 50%;
	margin: auto;
}

body>div>div>div:nth-of-type(1)>span>img {
	width: 100%;
}

body>div>div>div:nth-of-type(1)>span>img:hover {
	opacity: 0.5;
}

body>div>div>div:nth-of-type(2) {
	width: 65%;
}

body>div>div>div:nth-of-type(2)>img {
	width: 100%;
}

body>div>div>div:nth-of-type(3) {
	width: 25%;
}

body>div>div>div:nth-of-type(3)>p {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
	gap: 1rem;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(1) {
	font-weight: bold;
	color: orange;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(2) {
	font-weight: bold;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(3) {
	color: grey;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(4) {
	display: flex;
	font-weight: bold;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(4)>span {
	font-size: 24pt;
}

body>div>div>div:nth-of-type(3)>p>span:nth-of-type(5) {
	width: 75%;
}

@media print {
	body>div {
		background-color: grey !important;
	}
	
	body>div>nav {
		display: none !important;
	}
}
