body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body>div{
    position: relative;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
}

body>div>nav {
    text-align: center;
    width: 75%;
    height: 37.5px;
    margin: auto;
}

body>div>nav>a {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 14pt;
    color: white;
    background-color: lightgrey;
    margin: 1rem;
}

body>div>nav>a:hover {
    background-color: grey;
}

body>div>div {
    max-width: 75%;
    max-height: 35%;
    padding-top: 1rem;
    padding: 2rem;
    margin: auto;
    border: 2px solid black;
}

body>div>div>span {
    font-size: 16pt;
    font-style: italic;
}

body>div>div>div:nth-of-type(1) {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

body>div>div>div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

body>div>div>div:nth-of-type(2)>div {
    width: 100%;
    height: 100%;
}

body>div>div>div:nth-of-type(2)>div>p {
    text-align: justify;
    padding: 2rem;
    background-color: lightgrey;
}

body>div>div>div:nth-of-type(2)>div>p>a {
    text-decoration: none !important;
    color: black;
}

img {
    float: right;
    width: 15%;
    height: 15%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    color: grey;
}

footer>span {
    margin-top: 1rem;
}