body {
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body>div {
	width: 100%;
}

body>div>nav {
	text-align: center;
	width: 80%;
	padding: 1rem;
	margin: auto;
}

body>div>nav>span {
	padding: 1rem 2rem 1rem 2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	font-weight: bold;
	color: white;
	background-color: grey;
}

body>div>div {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding-left: 1rem;
	margin: auto;
	border: 2px solid black;
}

body>div>div>p {
	font-size: 14pt;
	font-style: italic;
}

body>div>div>div:nth-of-type(2) {
	display: flex;
	width: 100%;
	gap: 2rem;
}

body>div>div>div:nth-of-type(2)>div {
	width: 50%;
	padding: 1rem;
}

body>div>div>div:nth-of-type(2)>div>div {
	padding: 1rem;
	background-color: lightgrey;
}

body>div>div>div:nth-of-type(2)>div>div>a {
	text-decoration: none !important;
	color: black;
}

body>div>div>div:nth-of-type(2)>div>div>a>p {
	text-align: justify;
	margin: 0;
}

body>div>div>div:nth-of-type(2)>div>div>a>p>img {
	float: right;
}

body>div>div>span, body>div>div>footer {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5rem;
	font-style: italic;
	color: grey;
}

body>div>div>footer>a {
	color: blue;
}
